<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="deps-form">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- React.js -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

    <!-- React JSON schema form -->
    <script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>
</th:block>

<th:block th:fragment="core">
    <!-- ReactJSF -->
    <script src="/react-jsf/react-jsf-compiled.js"></script>
</th:block>

<th:block th:fragment="deps-designer">
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/artf/codemirror-formatting@master/formatting.js"></script>

    <!-- JSON Lint -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/json-lint.js"></script>
</th:block>

<th:block th:fragment="all">
    <th:block th:replace="ReactJSF :: deps-form"></th:block>
    <th:block th:replace="ReactJSF :: deps-designer"></th:block>
    <th:block th:replace="ReactJSF :: core"></th:block>
</th:block>

<script th:fragment="new(rjsf, formId, path, respondId)" type="text/javascript" th:inline="javascript">
    $(function () {
        let onSubmit = (f) => {
            axios.post( /*[[${path}]]*/ null, f.formData).then((response) => {
                $( /*[[${respondId}]]*/ null).html(response.data);
            });
        };

        let rjsfOpt = Object.assign({
            btnText: /*[[#{rjsf.submit}]]*/ 'Submit',
            onSubmit: onSubmit
        }, /*[[${rjsf}]]*/ {});

        ReactDOM.render(React.createElement(ReactJSF, rjsfOpt), $(/*[[${formId}]]*/ null)[0]);
    });
</script>

<script th:fragment="edit(rjsf, formId, path, respondId)" type="text/javascript" th:inline="javascript">
    $(function () {
        let onSubmit = (f) => {
            axios.post( /*[[${path}]]*/ null, f.formData).then((response) => {
                $( /*[[${respondId}]]*/ null).html(response.data);
            });
        };

        let rjsfOpt = Object.assign({
            btnText: /*[[#{rjsf.submit}]]*/ 'Submit',
            onSubmit: onSubmit
        }, /*[[${rjsf}]]*/ {});

        ReactDOM.render(React.createElement(ReactJSF, rjsfOpt), $(/*[[${formId}]]*/ null)[0]);
    });
</script>

<script th:fragment="show(rjsf, formId, path, respondId)" type="text/javascript" th:inline="javascript">
    $(function () {
        let onSubmit = (f) => {
            axios.get( /*[[${path}]]*/ null)
                .then((response) => {
                    $( /*[[${respondId}]]*/ null).html(response.data);
                });
        };

        let rjsfOpt = Object.assign({
            btnText: /*[[#{rjsf.back}]]*/ 'Back',
            onSubmit: onSubmit,
            disabled: true
        }, /*[[${rjsf}]]*/ {});

        ReactDOM.render(React.createElement(ReactJSF, rjsfOpt), $(/*[[${formId}]]*/ null)[0]);
    });
</script>

</html>